.body {
    height: 98.3vh;
    background-color: black;
    overflow-x: hidden;
    overflow: hidden;

}

.body .container-vermelho {
    background: #CB0006;
    position: absolute;
    height: auto;
    width: 30px;
    inset: 0 auto 0 0;
}


.ul {
    position: absolute;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    position: top;
    height: 100px;
    word-spacing: 3px;
    left: 10px;
    align-items: center;


}

.container-header {
    width: auto;
    height: auto;
    display: flex;
    padding-left: 30px;
    align-self: center;
    top: 10px;
    display: flex;
    justify-content: center;
}

.container-header .ul {
    position: absolute;
    width: 1700px;
    display: flex;
    top: 1px;
    flex-direction: row;
    justify-content: space-evenly;

}

.container-header a {
    position: relative;
    font-family: 'Oswald', sans-serif;
    display: flex;
    color: white;
    text-decoration: none;
    font-weight: bold;
    list-style-type: none;
    justify-content: space-evenly;
}


#titulo {

    font-size: 40px;
    align-self: center;
    position: relative;
    top: 1px;
    padding-left: 30px;
    justify-content: center;
    align-self: center;

}

#image {
    display: flex;
    align-self: center;
    position: relative;
    top: auto;
    padding-left: 15px;
}

.cadastro-logo {
    position: relative;
    top: 44px;
    left: 848px;

}

#aqui a {
    color: #CB0006;
}

/* ------------------------------------------------------------ */

.container1-red {
    position: relative;
    display: flex;
    width: 1150px;
    height: 200px;
    left: 130px;
    top: 250px;
    background-color: #CB0006;
    border-radius: 100px;
    text-align: center;
    font-family: 'Oswald', sans-serif;

}

.texto1 {
    position: relative;
    font-size: 55px;
    font-weight: bolder;
    top: 15px;
    left: 77px;

}

.time {
    position: relative;
    color: white;
    font-size: 55px;
    font-weight: bolder;
    top: 15px;
    left: 77px;
}

.container2-white {
    position: relative;
    background-color: white;
    width: 360px;
    height: 760px;
    left: 1400px;
    top: -90px;
    border-radius: 50px;
    font-weight: bold;
    color: black;
    font-size: 30px;
    text-align: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}

.white-texto {
    position: relative;
    top: 1px;


}

.login {
    font-size: 30px;
    font-weight: bold;
    color: #CB0006;

}

.cadastre-se {
    font-size: 30px;
    font-weight: bold;
    color: #CB0006;

}

.imagem1 {
    position: relative;
    top: 10px;
}

.imagem2 {
    position: relative;
    top: 1px;
}

.bola {
    position: relative;
    top: 15px;
    left: 19px;
    width: 170px;
    height: 170px;
    background-color: black;
    border-radius: 50%;
}

.logo {
    position: relative;
    top: 15px;
    left: -20px;
}

.container3-white {
    position: relative;
    left: 140px;
    width: 1150px;
    height: 200px;
    bottom: 420px;
    background-color: white;
    border-radius: 100px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;

}

.texto-3 {
    position: relative;
    text-align: justify;
    width: 800px;
    font-size: 25px;
    top: 50px;
    left: 85px;
}


/* ---------QUIZ--------------------------------------------------------------------------------------------------------------------------- */

.button {
    position: relative;
    top: -122px;
    left: 879px;
    width: 170px;
    height: 170px;
    background-color: #CB0006;
    color: white;
    border-radius: 50%;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    transition: filter 0.1s;
    border: none;
    padding: 0 32px;
}

.answers-container {
    position: relative;
    top: 200px;
    width: 51%;
    height: 600px;
    left: 480px;
    background-color: rgb(255, 255, 255);
    color: white;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    border-radius: 30px;
    align-items: center;
    border-color: 2px solid #CB0006;
}

.answers-container span {
    color: black;
    position: relative;
    top: 40px;
    left: 3%;
    font-weight: bold;
    font-size: 24px;
}

.answers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 7px;
}


.answer-button {
    position: relative;
    top: 120px;
    left: 30px;
    background-color: #000000;
    border-radius: 20px;
    width: 400px;
    height: 100px;
    color: white;
    font-size: 20px;
    border: 1px solid #ffffff;
    transition: background-color 0.3s ease;
    margin: 5px 2px;
    display: grid;
    align-items: center;
    justify-content: center;
    filter: brightness(1);
    transition: filter 0.3s ease;
}

.answer-button:hover {
    background-color: #CB0006;
        filter: brightness(0.8); 
}

.button:not(:disabled):hover {
    filter: brightness(0.8);
}

.container1-red {
    position: relative;
    display: flex;
    width: 1150px;
    height: 200px;
    left: 130px;
    top: 250px;
    background-color: #CB0006;
    border-radius: 100px;
    text-align: center;
    font-family: 'Oswald', sans-serif;


}

.texto1 {
    position: relative;
    font-size: 55px;
    font-weight: bolder;
    top: 15px;
    left: 77px;

}

.time {
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 55px;
    font-weight: bolder;
    top: 15px;
    left: 77px;
}

/* .question{
    position: absolute;
    top: 300px;
    left: 600px;
    font-family: 'Oswald', sans-serif;
    color: black;
    background-color: ;
    font-size: 35px;
} */
.next-question button hide {
    position: relative;
    background-color: #000000;
    border-radius: 20px;
    width: 50px;
    height: 20px;
    color: #ffffff;
    top: 30px;
}

.next-question {

    position: relative;
    top: 100px;
    left: 860px;
    font-family: 'Oswald', sans-serif;
    background-color: #CB0006;
    border-radius: 70px;
    color: white;
    width: 200px;
    height: 70px;
    border: 1px solid #CB0006;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.next-question:hover {
    background-color: white;
    border-color: #CB0006;
    color: black;
}

#question {
    position: relative;
    top: 55px;
    /* left: 90px; */
    font-family: 'Oswald', sans-serif;
    text-align: center;
}