.body {
    height: 98.3vh;
    background-color: black;
    overflow-x: hidden;
    overflow: hidden;

}

.body .container-vermelho {
    background: #492E8C;
    position: absolute;
    height: auto;
    width: 30px;
    inset: 0 auto 0 0;
}

.ul {
    position: absolute;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    position: top;
    height: 100px;
    word-spacing: 3px;
    left: 10px;
    align-items: center;


}

.container-header {
    width: auto;
    height: auto;
    display: flex;
    padding-left: 30px;
    align-self: center;
    top: 10px;
    display: flex;
    justify-content: center;
}

.container-header .ul {
    position: absolute;
    width: 1700px;
    display: flex;
    top: 1px;
    flex-direction: row;
    justify-content: space-evenly;

}

.container-header a {
    position: relative;
    font-family: 'Oswald', sans-serif;
    display: flex;
    color: white;
    text-decoration: none;
    font-weight: bold;
    list-style-type: none;
    justify-content: space-evenly;
}


#titulo {

    font-size: 40px;
    align-self: center;
    position: relative;
    top: 1px;
    padding-left: 30px;
    justify-content: center;
    align-self: center;

}

#image {
    display: flex;
    align-self: center;
    position: relative;
    top: auto;
    padding-left: 15px;
}

.cadastro-logo {
    position: relative;
    top: 44px;
    left: 848px;

}

#aqui a {
    color: #492E8C;
}
/* ---------------------------------------------------------------------------------------------------- */
.container{
    position: relative;
    width: 100px;
}
.p{
    position: absolute;
    font-size: 60px;
    font-family: 'Oswald', sans-serif ;
    color: white;
    font-weight: bolder;
    bottom: 760px;
    left: 300px;
    top: 60px;
    white-space: nowrap;
} 
.logo{
    position: relative;
    top: 90px;
    left: 70px;
} 
.image1{
    position: relative;
    top: -50px;
    left: 200px;
} 
 .texto{
    width: 1000px;
    height: 100px;
    position: relative;
    font-family: 'Oswald', sans-serif ;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: justify;
    top: -700px;
    left: 750px;
} 
.polaroids{
    position: relative;
    left: 900px;
    bottom: 590px;
}