.body {
    height: 98.3vh;
    background-color: black;
    overflow-x: hidden;
    overflow: hidden;

}

 .body .container-vermelho {
    background: #CB0006;
    position: absolute;
    height: auto;
    width: 30px;
    inset: 0 auto 0 0;
}

.ul {
    position: absolute;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    position: top;
    height: 100px;
    word-spacing: 3px;
    left: 10px;
    align-items: center;


}

.container-header {
    width: auto;
    height: auto;
    display: flex;
    padding-left: 30px;
    align-self: center;
    top: 10px;
    display: flex;
    justify-content: center;
}

.container-header .ul {
    position: absolute;
    width: 1700px;
    display: flex;
    top: 1px;
    flex-direction: row;
    justify-content: space-evenly;

}

.container-header a {
    position: relative;
    font-family: 'Oswald', sans-serif;
    display: flex;
    color: white;
    text-decoration: none;
    font-weight: bold;
    list-style-type: none;
    justify-content: space-evenly;
}


#titulo {

    font-size: 40px;
    align-self: center;
    position: relative;
    top: 1px;
    padding-left: 30px;
    justify-content: center;
    align-self: center;

}

#image {
    display: flex;
    align-self: center;
    position: relative;
    top: auto;
    padding-left: 15px;
}

.cadastro-logo {
   position: relative;
   top: 44px;
   left: 848px;
    
} 
 
/* ----------------------------------------------------------------------------------------------------------------------------------------- */

.pesquisa{
    position: relative;
    background-color: white;
    color: black;
    top: 84px;
    width: 1820px;
    height: 790px;
    left: 50px;
}

.cabeçalho{
    color: black;
    width: 1600px;
    height: 1000px;
    position: relative;
    top: 120px;
    left: 60px;
}
.cabeçalho .texto1{
    position: relative;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 32px;
    left: 55px;
    color: rgb(0, 0, 0);
    padding-bottom: 60px;
    text-align: start;
}

.cabeçalho .texto2{
    position: relative;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    width: 800px;
    top: 50px;
    left: 30px;
    font-size: 23px;
    color: rgb(0, 0, 0);
    padding-bottom: 20px;
    text-align: center;
}

.tudo {
    font-family: 'Oswald', sans-serif ;
    width: 700px;
    position: relative;
    bottom: 340px;
    left: 900px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
}

.formulario {
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 20px;
    align-items: center;
}

.input-box {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-usuario,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #9c0404;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.input-label p {
    font-weight: bold;
    margin-bottom: 10px;
}

p{
    font-weight: bold;
}
.check {
    font-weight: bold;
    margin-right: 10px;
}

.submit {
    position: relative;
    bottom: 400px;
    left: 330px;
    background-color: #CB0006;
    color: #f9f9f9;
    padding: 20px 130px;
    border-width: 2px solid white;
    border-radius: 70px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.submit:hover{
    background-color: white;
    border-color: #CB0006;
    color: black;
}

input[type="radio"] {
    display: none; 
}

.check {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
}

.check:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #CB0006;
    border-radius: 50%;
}

input[type="radio"]:checked + .check:before {
    background-color: #CB0006;
}

