.body {
    height: 98.3vh;
    background-color: black;
    overflow-x: hidden;
    overflow: hidden;
    font-family: 'Oswald', sans-serif;

}

.body .container-vermelho {
    background: #CB0006;
    position: absolute;
    height: auto;
    width: 30px;
    inset: 0 auto 0 0;
}

.ul {
    position: absolute;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    position: top;
    height: 100px;
    word-spacing: 3px;
    left: 10px;
    align-items: center;


}

.container-header {
    width: auto;
    height: auto;
    display: flex;
    padding-left: 30px;
    align-self: center;
    top: 10px;
    display: flex;
    justify-content: center;
}

.container-header .ul {
    position: absolute;
    width: 1700px;
    display: flex;
    top: 1px;
    flex-direction: row;
    justify-content: space-evenly;

}

.container-header a {
    position: relative;
    font-family: 'Oswald', sans-serif;
    display: flex;
    color: white;
    text-decoration: none;
    font-weight: bold;
    list-style-type: none;
    justify-content: space-evenly;
}


#titulo {

    font-size: 40px;
    align-self: center;
    position: relative;
    top: 1px;
    padding-left: 30px;
    justify-content: center;
    align-self: center;

}

#image {
    display: flex;
    align-self: center;
    position: relative;
    top: auto;
    padding-left: 15px;
}

.cadastro-logo {
    position: relative;
    top: 44px;
    left: 848px;

}

#aqui a {
    color: #CB0006;
}

/* ------------------------------------------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    font-family: 'Oswald', sans-serif;
}

.content {
    background-color: beige;
    border-radius: 15px;
    width: 80%;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.content:before {
    content: "";
    position: absolute;
    background-color: #CB0006;
    width: 40%;
    height: 100%;
}

.conteudo1 {
    display: flex;
}

.conteudo2 {
    position: absolute;
    display: none;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.lista-sociais {
    display: flex;
    list-style-type: none;
}

.primeira-coluna {
    text-align: center;
    flex: 1 0 auto;
    z-index: 10;
}

.segunda-coluna {
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.titulo {
    font-size: 35px;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 50px;
}

.titulo1 {
    color: white;
}

.titulo2 {
    color: #CB0006;
}

.descricao {
    font-size: 14px;
    font-weight: 300;
    color: white;
    line-height: 30px;
}

.botao {
    border-radius: 15px;
    text-transform: uppercase;
    color: white;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    top: 40px;
}

.botao-a {
    background-color: transparent;
    border: 1px solid white;
}

.botao-a:hover {
    background-color: white;
    color: #CB0006;

}

.item-midia a {
    color: #CB0006;
}

.lista-sociais .item-midia{
    border: 1px solid rgb(182, 5, 5);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #CB0006;
}
